# Entornos y cachés
.venv/
__pycache__/
*.pyc
.DS_Store
src/results/.matplotlib/

# Artefactos de compilación de LaTeX (NO ignoramos los .pdf finales)
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
